@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');

/*
Farbe: #323A45 / #848484
*/

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    margin: 5vh 8% 5vh;
}
* {margin:0; padding:0}

h1 {
    font-size: 1.2em;
    color: #323A45;
}
h2 {
    font-size: 1em;
    font-weight: 400;
    color: #323A45;
    margin-top: 12px;
}
h4 {
    font-size: 1.2em;
    color: #323A45;
}
p {
    font-size: 1em;
    color: #323A45;
}
header a {
    text-decoration: none;
    color: #323A45;
    margin-left: 50px;
}
header h1 a {
    margin: 0;
}
a:hover {
    color: #848484;
    transition: 0.5s;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5vh;
}
/* ------ Angebote ------ */
.big a, .small a {
    font-size: 1em;
    text-decoration: none;
    color: #9B9B9B;
}
img {
    width: 100%;
}
img:hover {
    opacity: 0.5;
}
div {
    display: flex;
    justify-content: space-between;
}
.big {
    row-gap: 40px;
    column-gap: 30px;
}
.small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
}
section {
    margin-bottom: 40px;
}
/* ------ Footer ------ */
.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
}
.footer a {
    text-decoration: none;
    color: #323A45;
}
.footer a:hover {
    color: #848484;
    transition: 0.5s;
}
.copyR {
    color: #848484;
    padding-top: 6vh;
}



/*

/*Large Desktop*
@media (min-width:1200px) {
    
}
/*Normal Desktop*
@media (min-width:1024px) and (max-width:1199px) {
    
}
/*small desktop*
@media (min-width:980px) and (max-width:1023px) {
    
}
/*For tablet *
@media (min-width:768px) and (max-width:979px)  {
    
}
/*For Mobile landscape *
@media (min-width:480px) and (max-width:767px)  {
    
}
/*For Mobile  *
@media (min-width:320px) and (max-width:479px)  {
}
